streamlit
python-dotenv
requests
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
faiss-cpu
pypdf
sentence-transformers
ddgs
